.app {
  padding: 2rem;
  width: 80%;
  max-width: 800px;
  margin: 1em auto;
  text-align: center;
  border-radius: 3px;
  background-color: #F5F6FB;
  -webkit-box-shadow: 0px 19px 29px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 19px 29px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 19px 29px -15px rgba(0,0,0,0.75);
}

h1 {
  font-size: 2em;
}

.btn-grad {
  margin: 3rem;
  width: 300px;
  height: 200px;
  font-size: 4em;
  border: none;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);

  &:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  }
 }
 